<!-- This code imports the employee dashboard CSS stylesheet and sets up a navigation bar with links to various pages. -->
<link rel="stylesheet" href="/css/employeeDashboard.css">

<header>
    <nav class="navbar ">
        <a href="/employee/dashboard">Dashboard</a>
        <a href="/employee/student">Add Student</a>
        <a href="/student/interview_list">Interview List</a>
        <a href="/job/list">Jobs</a>
        <a href="/employee/download">Download Report</a>
        <a href="/destroy_session" id="signout">Sign Out</a>
    </nav>
</header>