<link rel="stylesheet" href="/css/signIn.css" />
<!-- navigation links -->
<nav>
    <a  href="#">Placement Cell</a>
    <a class="pos-end" href="/signup">SignUp</a>
</nav>
<section>
    <h1>Sign In To Your Account</h1>
    <!-- sign in form -->
    <form action="/sign_in" method="POST">
        <input id="email" type="text" name="email" placeholder="Enter Email" /><br /><br />
        <input id="password" type="password" name="password" placeholder="Enter Password" /><br /><br />
        <button id="button">Sign In</button>
    </form>
    <!-- sign up link -->
    <div>
        <h5 class="inline">Don't Have An Account &nbsp;</h5>
        <a class="signup-link inline" href="/signup">Sign Up</a>
    </div>
</section>